.info-container{
    color: #fff;
    background-color:black;
    
}

@media screen and (max-width: 768px) {
    .info-container{
        padding: 40px 0;
    }
     
}
.info-wrapper{
    display: flex;
    z-index: 1;
    height: 700px;
    width: 100%;
    justify-content: flex-start;
    overflow: hidden;
    align-items: center;
    
    padding: 10px 0;
}

.info-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* @media screen and (max-width: 768) {
    .info-row{
        grid-template-areas: col1 col1;
    }
} */

.column-1{
    margin-bottom: 0  15px;
    padding: 0 15px;
    width: 60%;
}
.text-wrapper{
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 60px;
    padding-left: 70px;
}
.top-line{
    color: #01bf71;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.heading{
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    color: #f7f8fa;
}
@media screen and (max-width: 768px) {
    .heading{
        font-size: 32px;
    }
}

.subtitle{
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}
.column-2{
    margin-bottom: 15px;
    padding: 0 15px;
    grid-area: col2;
    width: 40%;

}
.info-section-button{
    margin-left: 8px;
    font-size: 20px;
    border-radius: 50px;
    padding: 15px 18px;
    outline: none;
    border: none;
    color: #fff;
    display: flex;
    transition: all 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
    background-color: #01bf71;
    text-decoration: none;
}


.info-section-button:hover{
    color: #fff;
    transition: all 0.3s ease-in-out;

}
/* 
@media screen and (max-width: 768px) {
    .info-section-button{
   background-color: red;
    
    font-size: 14px;
    padding: 10px 20px;
    }
} */


.btn-wrap{
    display: flex;
    justify-content: flex-start;
}
Link.button{
    border-radius: 50px;
}


.img-wrap{
    max-width: 555px;
    height: 100%;
    z-index: 500;

}

.img-wrap img{
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
    height: 500px;
}